.container{

    display: grid;
    grid-template-columns: 58px 1fr;
    width: 100%;
    height: 100vh;

}

.main, .sec1, .sec2, .sec3{

    padding: 20px 0 20px 44px;
    display: flex;
    animation:identifier 1s ease ;
    animation-fill-mode: forwards;
    transform: translateY(100%);
    z-index: 1000000000000;
  }
    


 
@keyframes identifier {
    to{
        transform: translateY(0%);
    }
}
    


@media (max-width: 700px) {
    .main, .sec1, .sec2, .sec3 {
        flex-direction: column;
        gap: 50px;
        padding: 20px 0 20px 24px;
    }

    .about{
        font-size: 0.6rem;
    }

    .picture{
        justify-content: flex-start !important;
    }

    .home{
        width: 90%;
    }
    .about{
        width: 90% !important;
    }
}